.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.Url-container {
  padding: 30px;
  margin: 10px;
  display: flex;
  gap: 60px;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  gap: 10px;

  height: 900px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 10px;

  height: 900px;
}

.text {
  font-size: 20px;
  font-weight: 800;
}

.input {
  padding: 5px;
  width: 200px;
  font-size: 15px;
}

.inp-container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  margin-top: 20px;
  gap: 100px;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 5px;
  width: 80px;
  font-size: 20px;
  border-radius: 5px;
}

.CloseBtn {
  background-color: rgb(203, 49, 49);
  color: #fff;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.addBtn {
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: rgb(54, 54, 219);
  color: #fff;
  padding: 5px;
  font-size: 20px;
  border-radius: 6px;
  width: 70%;
}

/* .modalContainer .body {
  flex: 50%;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;
  overflow-y: auto;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
}

label {
  font-size: 20px;
  margin-right: 10px;
}

input {
  padding: 2px 5px;
  margin: 5px;
  font-size: 15px;
}

.addBtn {
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
}

.addBtn button {
  width: 30%;
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */
